h3 ul{
    border: 1px solid white;
}

h3{
    text-align: left;
    font-size: 1.5rem;
}
ul{
    font-size: 1.2rem;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: left;
}

.about{
    width: 100%;
    margin: 3rem 0;
    display: grid;
    /* grid-template-columns: repeat(2, 2fr); */
    height: 100%;
}
.left h1{
    text-align: center;
    padding: 0 0 10px 0;
}
.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem 1rem;
    max-width: 1000px;
}

.about .left p {
    margin: 1.2rem 0;
}
/* .about .right{
    width: 100%;
}

.right .img-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.right .img{
    max-width: 60%;
    border: 1px solid #333;
}

.right .top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index:6;

}

.right .bottom{
    grid-column: 4/ -1;
    grid-row: 1;
    z-index: 5;
} */

@media screen and (max-width: 1140px) {
    .about {
        grid-template-columns: 1fr;
    }
    .about .img{
        max-width: 80%;
    }
}
