#logo {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.logo {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    background: url('../Assets/concrete_sidewalk.jpg') no-repeat center center/cover;
    opacity: .8;
    
}

.logo .content{
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;

} 
.logo .content .h1 {
    font-size: 4rem;
    color: white;

}

.logo p{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    color: white;

}

.logo .btn{
    margin: 1rem .2rem;
    display: inline-flex;

}

@media screen and (max-width:640px){
    .content h1{
        font-size: 3rem;
    }
    .content p{
        font-size: 1.4rem;
        margin-bottom: 1.6rem;;
    }
}









