.header{
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
    background-color: rgb(194, 37, 37);
}

.top{
    font-size: 25px;
    font-weight: 300px;
    align-items: left;
    color: white;
    display: inline-flex;
    
}

.header-bg{
    background-color:rgb(42, 42, 179);
    transition: .5s;
}
.header a img{
    width: 180px;
    height:90px;
    display: flex;
    opacity: .9;
    

}
li:hover {
    /* background: blue; */
    border-radius: 10px;
}


.nav-menu{
    display: flex;
}

.nav-menu li{
    padding: 0 1rem;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 1240px) {
    .hamburger{
        display: block;
    }

    .nav-menu{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: .3s;
        z-index: -1;
        background: rgba(0, 0, 0, .9);
    }
    .nav-menu.active{
        left: 0;
    }
    .nav-menu li{
        padding: 1rem 0;
    }

    .nav-menu a {
        font-size: 2rem;
    }
    
}






