@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h4, p,a{
  color: white;
  background-color: black;
  padding: 10px;
  opacity: .7;
  border-radius: 5px;
}

body {
  margin: 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgba(4, 9, 30, .7);
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  padding: 12px 32px; 
  font-size: 1.2rem;
  font-weight: 600px;
  text-transform: uppercase;
  background: rgb(194, 37, 37);
  color:white;
  border: 4px solid white;
  cursor: pointer;

}

.btn-light{
  background: black;
}

.btn:hover{
  background: black
}


